*{
    box-sizing: border-box;
    margin: 0;
}
.head_section{
    background: #263F61;
    color: white;
}
.search_icon{
    background: orangered;
    right: 37px;
    width: 40px;
    height: 38px;
    border-radius: 0px 6px 6px 0px;
}
.Trending_header{
    background-color: #263F61;
}
.images{
    width: 280px;
    margin: 24px;
}
.fa{
    display: flex;
    position: relative;
    top: 10px;
    margin-left: 10px;
}
.movies{
    height: 230px;
    width: 96%;
    margin-left: 26px !important;
}
.rectangle-1{
    width: 280px;
    height: 60px;
    top: -60px;
    left: 24px;
}
.movie_name{
    position: relative;
    bottom: 114px;
    left: 45px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.Ratings{
    position: relative;
    bottom: 134px;
    left: 46px;
}
.circle{
    position: relative;
    bottom: 146px;
    left: 170px;
}
.Polygon{
    position: relative;
    left: 145px;
    bottom: 146px;
}